@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --text-color: rgb(255, 204, 197);
}
html{
  font-family: "Luckiest Guy", sans-serif;
  font-size: 18pt;
}
body{
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
h1{
  font-size: 3rem;
  user-select: none;
  /* Gradient using the -webkit-text-fill-color property */
  background: linear-gradient(to bottom, rgb(255, 120, 120), red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Vendor-specific prefixes for other browsers */
  background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  /* Fallback color */
  color: red;
}
h2{
  color: var(--text-color);
  user-select: none;
}
.game-over-container{
  position: absolute;
  width: 300px;
  padding: 20px;
  background: rgba(113, 96, 171, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  color: var(--text-color);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.game-over-container.active{
  display: flex;
}
.game-over-container h2{
  color: red;
}
.game-over-container a{
  text-decoration: none;
  color: red;
}
.game-over-container a:hover{
  color: darkred;
}